

$icon-arrow-right: "\EA01" !default;

$icon-drbbbl: "\EA02" !default;

$icon-envel: "\EA03" !default;

$icon-fb: "\EA04" !default;

$icon-ggl: "\EA05" !default;

$icon-lkin: "\EA06" !default;

$icon-tw: "\EA07" !default;

$icon-vmo: "\EA08" !default;