

$icon-fb: "\EA01" !default;

$icon-ffacebook: "\EA02" !default;

$icon-ggl: "\EA03" !default;

$icon-ggoogle: "\EA04" !default;

$icon-ttwitter: "\EA05" !default;

$icon-tw: "\EA06" !default;